<div class="content-sections">
  <%- partial("sections/_home") %>
  <%- partial("sections/_about") %>
  <%- partial("sections/_service") %>
  <%- partial("sections/_locations") %>
  <%- partial("sections/_contact") %>
</div>
<%- partial("_scenes") %>